/* This stylesheet is only used for the Linker page */

html {
    background-image: url(../images/linker_bg.png);
}

h2 {
    margin: 10px;
}

h3 {
    font-size: 22px;
    margin: 10px;
}

h4 {
    font-size: 15px;
    margin: 10px;
}

p {
    font-size: 18px;
    margin: 10px;
}

.region-container {
    text-align: center;
}

.regions {
    display: inline-block;
    margin: 10px 5px 30px;
    background-image: url(../images/region_bg.png);
    color: white;
    width: 190px;
    height: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid white;
}

.regions img {
    width: 80%;
    display: inline-block;
}

.inner-text {
    display: inline-block;
    vertical-align: top;
}

.regions:hover {
    animation: specialanim 0.5s ease;
    animation-fill-mode: forwards;
}

.special-regions {
    display: inline-block;
    margin: 30px 10px;
    background-image: url(../images/region_bg.png);
    color: white;
    width: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid white;
}

.special-regions img {
    width: 100%;
}

.special-regions:hover {
    animation: specialanim 0.5s ease;
    animation-fill-mode: forwards;
}

.special-next {
    display: inline-block;
    margin: 30px 10px;
    background-image: url(../images/region_bg.png);
    color: white;
    width: 190px;
    height: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 5px solid white;
}

.special-next i {
    font-size: 50px;
}

.special-next:hover {
    animation: specialanim 0.5s ease;
    animation-fill-mode: forwards;
}

.pkmntv {
    display: inline-block;
    margin: 30px 10px;
    background-image: url(../images/region_bg.png);
    color: white;
    width: 190px;
    height: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border: 5px solid white;
}

.pkmntv img {
    width: 50%;
    background-color: #fafafa;
    border-radius: 10px;
}

.pkmntv:hover {
    animation: specialanim 0.5s ease;
    animation-fill-mode: forwards;
}

@keyframes specialanim {
    0% {transform: scale(1.0);box-shadow: 10px 10px rgb(0,0,0,0.0);}
    100% {transform: scale(1.1);box-shadow: 10px 10px rgb(0,0,0,0.5);}
}