/* This stylesheet is only used for the Unova page */

.aboutunova {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border-bottom: 5px dashed black;
}

.aboutunova p {
    width: 80%;
    margin: 15px auto;
}

.unovalink {
    width: 20%;
}

.unovalogo {
    width: 100%;
}

.ashunova {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    overflow: auto;
    text-align: center;
    border-bottom: 5px dashed black;
}

.ashunova p {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin: 15px 0;
}

.ashunovaimg {
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px;
    background-color: gray;
    width: 9%;
    margin-left: 100px;
}

.ashunovaimg:hover {
    animation: scaleimg 0.5s ease;
    animation-fill-mode: forwards;
}

.profjuniper p {
    width: 53%;
}

.profjuniper img {
    width: 7%;
}

.trip p {
    width: 53%;
}

.trip img {
    width: 7%;
}

.georgia p {
    width: 53%
}

.georgia img {
    width: 7%;
}

.teamplasma p {
    width: 35%;
}

.teamplasma .plasmaimg {
    width: 12%;
}

.wrapper {
    height: 1100px;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 10px;
    width: 100%;
    text-align: center;
}

.sticky h2 {
    color: black;
    background-color: lightgray;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.unovabg {
    background-image: url(../images/unova_BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 5px solid black;
}
